__pycache__/
*.json
*.csv
*.png
venv/
*.pyc
__pycache__/
*.py[cod]
og_main.py
myenv310/
*$py.class
venv/
myenv/
.venv/
.env
build/
dist/
*.egg-info/
.vscode/
.idea/
idk.py
okok.py
logs/
tests/
test.py