langchain
langgraph
langchain-google-genai
python-dotenv
uvicorn
fastapi 
slowapi
tenacity
langchain-openai
playwright
langchain_ollama
motor
python-jose[cryptography] 
passlib[bcrypt] 
email-validator
python-multipart
twilio
langchain-xai